[Unit]
Description=device certificates creation service
After=network-online.target
Wants=network-online.target
Before=nginx.service openvpn-server@openvpn-pqc.service openvpn-server@openvpn-hybrid.service
Wants=nginx.service openvpn-server@openvpn-pqc.service openvpn-server@openvpn-hybrid.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/oqs-demos/certs
ExecStart=/usr/bin/device-certs --force
Restart=on-failure
RestartSec=3

[Install]   
WantedBy=multi-user.target
